* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    background-image: url(./img/wall2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #864243;
}


header {
    width: 50%;
    display: block;
    margin: auto;
    padding: 20px 0 0 0;
}

header a:hover {
    color: orange;
}

header a:active {
    opacity: 0.5;
}

header a {
    width: 50px;
    font-size: max(15px, 1vw);
    align-items: center;
    text-decoration: none;
    margin: 30px 40px 0 0;
    color: #fff;
}

.toggle-btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.toggle-btn:hover {
    color: orange;

}

.container {
    width: 100vw;
    height: 100vh;
}

.content {
    display: block;
    margin: auto;
    width: 50%;
}

.content-text p {
    display: block;
    margin: auto;
    font-size: max(15px, 1.3vw);
    color: #fff;
    margin-top: 30px;
}

.content-text h1,
h2 {
    display: block;
    margin: auto;
    color: #58b7f7;
    -webkit-text-stroke: 1px black;
}

.content-text h1 {
    position: relative;
    margin-top: 50px;
    font-size: max(38px, 3vw);
}

.content-text h2 {
    font-size: max(25px, 2vw);
}

.content-box {
    margin-top: 30px;
    width: 100%;
    /* height: 500px; */
    /* background-color: rgb(255, 255, 255, 0.2); */
    border-radius: 15px;
}

.img-libras {
    width: 500px;
    position: relative;
    top: -160px;
}

.info-modality,
.info-certificate,
.info-hours {
    display: inline-block;
    position: relative;
    margin-top: 10px;
    margin-right: 50px;
    width: 250px;
    height: 110px;
    background-color: rgba(20, 140, 219, 0.6);
    color: #fff;
    border-radius: 10px;
}

.content-info h3 {
    position: relative;
    left: 70px;
    top: -30px;
    font-size: 25px;
}

.content-info p {
    position: relative;
    left: 70px;
    font-size: 20px;
    top: -55px;
}

.content-info img {
    width: 40px;
    position: relative;
    left: 15px;
    top: 20px;

}

.content-bt {
    position: relative;
    padding: 6px 0 0 18px;
    width: 150px;
    height: 40px;
    background-color: rgba(20, 140, 219);
    margin-top: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.content-bt a {
    color: #fff;
}

.content-bt :hover {
    opacity: 0.8;
}

.container-bt:active {
    opacity: 0.5;
}

.content-bt a {
    font-size: 20px;
    text-decoration: none;

}

.dropdown-menu {
    position: absolute;
    right: 2rem;
    top: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(20, 140, 219, 0.2);
    backdrop-filter: blur(8px);
    width: 150px;
    height: 0;
    border-radius: 15px;
    overflow: hidden;
    display: none;
    transition: heigt .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1;
}

.dropdown-menu.open {
    height: 160px;
}

.dropdown-menu a {
    padding: 0.5rem;
    display: block;
    margin: auto;
    top: 15px;
    font-size: 20px;
    font-weight: 700;
    align-items: center;
    position: relative;
    right: 25px;
    color: #fff;
    -webkit-text-stroke: 1px black;
}



@media (max-width: 600px) {
   

    .content {
        width: 80%;
    }

    .content-text p {
        margin-top: 30px;
    }

    .links {
        display: none;
    }

    .toggle-btn {
        position: absolute;
        right: 2rem;
        top: 20px;
        display: block;
    }

    .dropdown-menu {
        display: block;
    }

    .info-modality,
    .info-certificate,
    .info-hours {
        left: 0px;
    }
    @media (max-width: 1300px){
        h1{
            display: block;
        }
    }

}